.gallery {
  list-style: none;
  margin: 15px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  box-sizing: border-box;
  padding: 15px;
}

.image {
  display: block;
  width: 100%;
}
